$heading_color: #253962;
$para_color: #74787c;
$hover_color: #007aff;
$primary_bg : #fe5a86;
$secondary_bg : #fff;

//for progress bar 
$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #ffb43e;
$size: 150px;
$howManySteps: 10;