@mixin div-body($w, $h, $wbc) {
    width: $w;
    height: $h;
    background-color: $wbc;
}

@mixin pgap($pt, $pr, $pb, $pl) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}

@mixin mgap($mt,$mr,$mb,$ml) {
    margin-top: $mt;
    margin-right: $mr;
    margin-bottom: $mb;
    margin-left: $ml;
}

@mixin fonts($fs,$fw) {
    font-size: $fs;
    font-weight: $fw;
}